<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<title>{{ config.title }}</title>
<link href="//cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js"></script>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<link href="//cdn.bootcss.com/selectize.js/0.12.4/css/selectize.css" rel="stylesheet">
<script src="//cdn.bootcss.com/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
<script src="//cdn.bootcss.com/webuploader/0.1.1/webuploader.min.js"></script>
<link href="//cdn.bootcss.com/webuploader/0.1.1/webuploader.css" rel="stylesheet">
<link href="//cdn.bootcss.com/notie/3.9.4/notie.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
<link href="//cdn.bootcss.com/jquery-datetimepicker/2.5.4/jquery.datetimepicker.css" rel="stylesheet">

<link rel="stylesheet" href="/css/rocket.min.css">
</head>
<body>
    {% block body %} 
    {% endblock body %}
<script src="//cdn.bootcss.com/notie/3.9.4/notie.min.js"></script>
<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">    
<link href="//cdn.bootcss.com/highlight.js/9.8.0/styles/default.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/highlight.js/9.8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>