{% extends "base.html" %}
{% block body %}
    {% include 'header.html' %}
    <form class="article">
        <div class="text">
            <div class="group">
                <label for="title">标题</label>
                <input type="text" name="title" id="title" value="{{title}}" required>
            </div>
            <div class="group">
                <label for="tags">标签</label>
                <input id="tags" name="tags" value="{{tags}}"></input>
            </div>
        </div>
        <div class="time">
            <div class="group">
                <label for="create">创建时间</label>
                <input id="create" type="text" value=>
            </div>
            <div class="group">
                <label for="update">修改时间</label>
                <input id="update" type="text">
            </div>
        </div>
        <textarea name="content" id="content" required></textarea>
        <article id="article" style="display: none">{{ content }}</article>
        <small class="write-info">拖拽图片至书写区即可上传图片</small>
        <div id="uploader">
            <div id="fileList" class="uploader-list"></div>
            <div id="filePicker">选择图片</div>
            <div id="list"></div>
            <input type="button" id="submit" class="submit save" value="保存">
        </div>
    </form>

    <script>
    $.datetimepicker.setLocale('ch')
    var currentDate = (new Date()).toLocaleString('zh-CN', { timeZone: 'Asia/Shanghai', hour12: false }).replace(/:\d{2}$/,'');
    $('#create').datetimepicker()
    $('#update').datetimepicker()
    {% if created_date %}
    $('#create').val("{{ created_date|date('Y/m/d H:i') }}")
    {% else %}
    $('#create').val(currentDate)
    {% endif %}
    $('#update').val(currentDate)
    // 保存文章
    $('#submit').click(function() {
        var title = $("#title").val(),
            tags = $("#tags").val(),
            content = simplemde.value(),
            created_date = $("#create").val(),
            updated_date = $("#update").val()
            {% if id %}
            ,id = "{{ id|safe }}"
            {% endif %}
        if (!title.length) {
            notie.alert('error', '标题不能为空', 3)
        } else if (!content.length) {
            notie.alert('error', '内容不能为空', 3)
        } else if (!created_date.length || !updated_date.length) {
            notie.alert('error', '时间不能为空', 3)
        } else {
            $.ajax({
                method: 'post',
                url: '/bindo/new',
                data: {
                    title,
                    tags,
                    content,
                    created_date,
                    updated_date
                    {% if id %}
                    ,id
                    {% endif %}
                },
                success: function(result) {
                    {% if id %}
                    localStorage.removeItem('smde_{{id}}')
                    {% else %}
                    localStorage.removeItem('smde_new')
                    {% endif %}
                    notie.alert('success', '保存成功', 1)
                    setTimeout(function(){
                        window.location.href = "/post/" + title.replace(/\s+/g, '-') + "/"
                    }, 1000)
                },
                error: function(res) {
                    notie.alert('error', res.responseJSON.message, 3)
                }
            })
        }
        
    })
    var simplemde = new SimpleMDE({ 
        autoDownloadFontAwesome: false,
        element: document.getElementById("content"),
        initialValue: $("#article").text(),
        autosave: {
            enabled: true,
            delay: 30000,
            uniqueId: "{{ id|safe }}" || "new"
        },
        insertTexts: {
            image: ["![","](/img/)"]
        },
        renderingConfig: {
            codeSyntaxHighlighting: true
        },
        spellChecker: false
    })
    $('#tags').selectize({
        plugins: ['restore_on_backspace', 'remove_button'],  
        persist: false,
        labelField: 'tag',
        valueField: 'tag',        
        searchField: ['tag'],
        options: {{ all_tags|json_encode|safe }},
        create: function(input) {
            return {
                tag: input
            }
        }
    })
    var uploader = WebUploader.create({
        auto: true,
        dnd: $('.CodeMirror'),
        swf: '//cdn.bootcss.com/webuploader/0.1.1/Uploader.swf',
        server: '/bindo/upload',
        pick: '#filePicker',
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    })

    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                '</div>'
                ),
        $img = $li.find('img')
        var $list = $('#list')
        $list.append( $li )
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>')
                return
            }
            $img.attr( 'src', src )
        }, 150, 150 )
    })

    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span')

        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span')
        }

        $percent.css( 'width', percentage * 100 + '%' )
    })

    uploader.on( 'uploadSuccess', function( file ) {
        notie.alert('success', '上传成功', 2)
        $( '#' + file.id ).addClass('upload-state-done')
    })

    uploader.on( 'uploadError', function( file ) {
        $('#' + file.id).remove().remove()
        notie.alert('error', '上传失败, 存在同名文件', 3)
    })

    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove()
    })
    </script>
    <style>
        .CodeMirror, .CodeMirror-scroll {
            min-height: {{ config.editor.minHeight }}px;
        }
    </style>
{% endblock %}