{% extends "base.html" %}
{% block body %}
    {% include 'header.html' %}
    <form class="article">
        <input type="text" name="title" id="title" placeholder="标题" value="{{title}}">
        <input id="tags" name="tags" placeholder="标签" value="{{tags}}"></input>
        <textarea name="content" id="content"></textarea>
        <article id="article" style="display: none">{{ content }}</article>
        <small class="write-info">拖拽图片至书写区即可上传图片</small>
        <div id="uploader">
            <div id="fileList" class="uploader-list"></div>
            <div id="filePicker">选择图片</div>
            <div id="list">
        </div>
        <input type="button" id="submit" class="submit save" value="保存">
    </form>

    <script>
    // TODO 时间戳
    $('#submit').click(function() {
        var title = $("#title").val(),
            tags = $("#tags").val(),
            content = simplemde.value()
            {% if id and date %}
            ,id = "{{ id|safe }}",
            date = "{{ date|date('Y-m-d H:i:s') }}"
            {% endif %}
        $.post('/rocket/new', {
            title: title,
            tags,
            content
            {% if id and date %}
            ,id,
            date
            {% endif %}
        }, function(result) {
            // TODO 失败处理
            // 清除保存的数据，进行跳转
            localStorage.removeItem('smde_new')
            window.location.href = "/post/" + title.replace(/\s+/g, '-') + "/"
        })
    })
    var simplemde = new SimpleMDE({ 
        autoDownloadFontAwesome: false,
        element: document.getElementById("content"),
        initialValue: $("#article").text(),
        autosave: {
            enabled: true,
            delay: 30000,
            uniqueId: "{{ id|safe }}" || "new"
        },
        renderingConfig: {
            codeSyntaxHighlighting: true
        },
        spellChecker: false
    })
    $('#tags').selectize({
        plugins: ['restore_on_backspace', 'remove_button'],  
        persist: false,
        labelField: 'tag',
        valueField: 'tag',        
        searchField: ['tag'],
        options: {{ all_tags|json_encode|safe }},
        create: function(input) {
            return {
                tag: input
            }
        }
    })
    var uploader = WebUploader.create({
        auto: true,
        dnd: $('.CodeMirror'),
        swf: '//cdn.bootcss.com/webuploader/0.1.1/Uploader.swf',
        server: '/rocket/upload',
        pick: '#filePicker',
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    })

    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                '</div>'
                ),
        $img = $li.find('img')
        var $list = $('#list')
        $list.append( $li )
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>')
                return
            }
            $img.attr( 'src', src )
        }, 150, 150 )
    })

    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span')

        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span')
        }

        $percent.css( 'width', percentage * 100 + '%' )
    })

    uploader.on( 'uploadSuccess', function( file ) {
        $( '#' + file.id ).addClass('upload-state-done')
    })

    uploader.on( 'uploadError', function( file ) {
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error')

        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li )
        }

        $error.text('上传失败')
    })

    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove()
    })
    </script>
    <style>
        .CodeMirror, .CodeMirror-scroll {
            min-height: {{ config.editor.minHeight }}px;
        }
    </style>
{% endblock %}