{% extends "base.html" %}
{% block body %}
    {% include 'header.html' %}
    <form class="article">
        <input type="text" name="title" id="title" placeholder="标题">
        <input id="tags" name="tags" placeholder="标签"></input>
        <textarea name="content" id="content"></textarea>
        <input type="button" id="submit">
    </form>
    <script>
    // TODO 时间戳
    $('#submit').click(function() {
        var title = $("#title").val(),
            tags = $("#tags").val(),
            content = simplemde.value()
        $.post('/rocket/new', {
            title: title,
            tags,
            content
        }, function(result) {
            // TODO 失败处理
            // 清除保存的数据，进行跳转
            localStorage.removeItem('smde_new')
            window.location.href = "/post/" + title.replace(/\s+/g, '-') + "/"
        })
    })
    var simplemde = new SimpleMDE({ 
        autoDownloadFontAwesome: false,
        element: document.getElementById("content"),
        initialValue: $("#article").text(),
        autosave: {
            enabled: true,
            delay: 10000,
            uniqueId: 'new',
        },
        renderingConfig: {
            codeSyntaxHighlighting: true
        },
        spellChecker: false
    })
    $('#tags').selectize({
        plugins: ['restore_on_backspace', 'remove_button'],  
        persist: false,
        labelField: 'tag',
        valueField: 'tag',        
        searchField: ['tag'],
        options: {{ tags|json_encode|safe }},
        create: function(input) {
            return {
                tag: input
            }
        }
    })
    </script>
    <style>
        .CodeMirror, .CodeMirror-scroll {
            min-height: {{ config.editor.minHeight }}px;
        }
    </style>
{% endblock %}