{% extends "base.html" %}
{% block body %}
    {% include 'header.html' %}
    <form class="article">
        <input type="text" name="title" id="title" placeholder="标题" value="{{title}}">
        <input id="tags" name="tags" placeholder="标签" value="{{tags}}"></input>
        <textarea name="content" id="content"></textarea>
        <article id="article" style="display: none">{{ content|safe }}</article>
        <input type="button" id="submit">
    </form>
    <script>
    // TODO 时间戳
    $('#submit').click(function() {
        var title = $("#title").val(),
            tags = $("#tags").val(),
            content = simplemde.value()
            id = "{{ id|safe }}",
            date = "{{ date|date('Y-m-d H:i:s') }}"
        $.post('/rocket/new', {
            title,
            tags,
            content,
            id,
            date
        }, function(result) {
            localStorage.removeItem('smde_' + id)
            window.location.href = "/post/" + title.replace(/\s+/g, '-') + "/"
        })
    })
    var simplemde = new SimpleMDE({ 
        autoDownloadFontAwesome: false,
        element: document.getElementById("content"),
        initialValue: $("#article").text(),
        autosave: {
            enabled: true,
            delay: 10000,
            uniqueId: "{{ id|safe }}"
        },
        renderingConfig: {
            codeSyntaxHighlighting: true
        },
        spellChecker: false
    })
    $('#tags').selectize({
        plugins: ['restore_on_backspace', 'remove_button'],  
        persist: false,
        labelField: 'tag',
        valueField: 'tag',        
        searchField: ['tag'],
        options: {{ all_tags|json_encode|safe }},
        create: function(input) {
            return {
                tag: input
            }
        }
    })
    </script>
    <style>
        .CodeMirror, .CodeMirror-scroll {
            min-height: {{ config.editor.minHeight }}px;
        }
    </style>
{% endblock %}